.container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 40%;
    left: 0;
    margin: 0 auto;
  }
  .container p {
    font-size: 20px;
  }
  .container a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #222222;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
  }
  .container a:after {
    content: "";
    position: absolute;
    background: #222222;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: 0.35s ease;
  }
  .container a:hover:after, .container a:focus:after, .container a:active:after {
    width: 100%;
  }
  
  .button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
  }
  .button_container:hover {
    opacity: 0.7;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #F12E32;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #F12E32;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #F12E32;
  }
  .button_container span {
    background: #F12E32;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 3vw;
    transition: all 0.15s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
    width: 65%;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
    width: 100%;
  }
  
  .overlay {
    position: fixed;
    background: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: 0.95;
    visibility: visible;
    height: 100%;
    z-index: 4;
  }
  .overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  .overlay.open li:nth-of-type(5) {
    animation-delay: 0.55s;
  }
  
  .overlay nav {
    position: relative;
    height: 70%;
    top: 45%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: rgb(20, 20, 20);
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 50%;
  }
  .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 85px;
    width: 0%;
    transform: translateX(-15%);
    height: 18px;
    background: #F12E32;
    transition: 0.35s;
    z-index: -1;  
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }